<h3>Register</h3>
<form ng-submit="register()" novalidate>
  <div>
    <label>Desired username</label>
    <input ng-model="account.username" name="username" required placeholder="Username" />
  </div>
  <div>
    <label>Password (twice)</label>
    <input type="password" ng-model="account.password" name="password" class="form-control" required placeholder="Password" />
    <br />
    <input type="password" ng-model="account.again" name="confirm" class="form-control" required placeholder="Password again" />
  </div>
  <input type="submit" value="Register" />
</form>
